<!DOCTYPE html>
<html>
  <head>
    <title>Text Utils</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  
  
  <body>
      <h1> Welcome to Text Analyzer. Enter your text:-</h1>
      <form action="/analyze", method="get">
          <textarea name=text style='margin: 0px; width: 721px; height: 93px;'></textarea><br>
          <input type="checkbox" name="removepunc"> Remove Punctutation
          <input type="checkbox" name="fullcaps"> Uppercase
          <input type="checkbox" name="newlineremover"> New Line Remover
          <input type="checkbox" name="extraspaceremover"> Extra Space Remover
          <input type="checkbox" name="charcount"> Char Count
          <br>
          <button
              type='submit'>Analyze Text
          </button>
      </form>
  </body>
</html>